
<head>
    <meta charset="utf-8">
    <meta name="description" content="Sportiic, le sport ensemble, facilement">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="dns-prefetch" href="https://app.sportiic.com">

    <title>Sportiic</title>
    <link rel="icon" type="image/png" href="/logo/favicon.png">
    <!-- Place favicon.ico in the `app/` directory -->

    <!-- Tile color for Win8 -->
    <meta name="msapplication-TileColor" content="#43A047">
    <meta name="msapplication-TileImage" content="/logo/ms-touch-icon-144x144-precomposed.png">

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Sportiic">
    <link rel="icon" sizes="192x192" href="/logo/chrome-touch-icon-192x192.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="#FFF">
    <meta name="apple-mobile-web-app-title" content="Sportiic">
    <link rel="apple-touch-icon" href="/logo/apple-touch-icon.png">

    <!-- Android status bar color -->
    <meta name="theme-color" content="#4CAF50">

    <!-- Save as app -->
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="manifest" href="/manifest/manifest.json">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
