<template name="subscribeLayout">

    {{#unless currentUser}}
      {{> login}}
    {{else}}

      <main class="subscribe-main">
        {{> yield}}
      </main>

      <footer></footer>

      <script>
        manageFooterShadow();
        $(window).scroll(function() {
          manageFooterShadow();
        });

        function manageFooterShadow(){
          var footer = document.querySelector("footer");
          if(Math.floor($(window).scrollTop()) + $(window).height() == $(document).height()) {
            footer.classList.remove('shadowed');
          } else {
            footer.classList.add('shadowed');
          }
        }
      </script>
    {{/unless}}

</template>
