
<template name="cancelModal">
  <div id="cancelModal" class="modal">
    <div class="modal-content">
      <h4>Annuler la session</h4>
      <p>Attention, si vous annulez la session, tous les joueurs seront désinscrits et les inscriptions seront fermées jusqu'à la prochaine date (si une récurrence est définie) ou lorsque vous définirez la prochaine date.</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="unsubscribe modal-action modal-close orange waves-effect waves-orange btn cancel-session">Annuler</a>
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Ne pas annuler</a>
    </div>
  </div>
</template>
