<template name="sessionDateFlux">
  <li class="session-flux-tab">
    <div class="collapsible-header active">
      <i class="material-icons">comment</i>
      <span class="title flow-text">Chat</span>
      <i class="material-icons right expand-it">chevron_left</i>
    </div>
    <div class="collapsible-body">
      <div class="session-channel">
        {{#if Template.subscriptionsReady}}
          {{#each comments}}
            {{> comment}}
          {{/each}}
        {{/if}}
      </div>

      <form id="new-message" name="new-message" class="new-message">
        <textarea class='new-message-input' required="true" name="messageText" rows='1' data-min-rows='1' placeholder='Chatter sur {{infos.name}}'></textarea>
        <button type="submit" class="new-message-send"><i class="material-icons">send</i></button>
        <p class="markdown-hint">**<strong>gras</strong>**, _<em>italique</em>_, &lt;lien&gt;, <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" target="_blank">plus</a></p>
      </form>

    </div>
  </li>
</template>

<template name="comment">
  <div class="comment {{#if system}}system{{/if}}" data-comment-id="{{_id}}">
    {{#if system}}
      <div class="comment-icon {{system.type}}">
        <i class="material-icons">clear</i>
      </div>
    {{else}}
      <div class="avatar">
        {{{userAvatar author}}}
      </div>
    {{/if}}
    <div class="content">
      <div class="infos">
        <span class="author">{{userName author}}</span>
        <span class="date">{{livestamp date}}</span>
      </div>
      <div class="message">
        <p>
          {{#if system}}
            <span class="author">{{userName author}}</span>
            {{text}},
            <span class="date">{{livestamp date}}</span>
          {{else}}
            {{#markdown}}{{text}}{{/markdown}}
          {{/if}}
        </p>
      </div>
    </div>
  </div>
</template>
