.session-flux-tab {

  strong {
      font-weight: bold;
  }

  form.new-message {
    position: relative;
    padding: 0 1%;
    margin-top: 3%;
  }

  textarea.new-message-input {
    display:block;
    box-sizing: border-box;
    overflow:hidden;

    padding:10px;
    width:100%;
    height: auto;
    font-size:14px;
    border-radius:8px;
    border: 1px solid #CCC;
    resize: none;
    outline: 0;
    padding-right: 45px;

    &:focus {
      border-width: 1px;
      border-color: $color_green_3;
    }

    + .new-message-send {
      position: absolute;
      top: 0;
      right: 1%;
      box-sizing: border-box;
      height: 70%;
      width: 40px;
      display: flex;
      background: transparent;
      border: 0;
      color: #CCC;
      cursor: pointer;
      outline: 0;
    }

    &:valid + .new-message-send {
      color: #4db34d;
    }
  }

  p.markdown-hint {
      font-size: 0.7em;
      padding: 0;
      padding-right: 5%;
      text-align: right;
  }

  .session-channel {
    margin-top: 15px;

    .comment {
        display: flex;
        padding: 0 5%;
        margin-bottom: 1%;
        align-items: center;

        .avatar {
          width: 32px;
          height: 32px;
          margin-right: 10px;
          align-self: flex-start;
        }
        .content {
          flex-grow: 2;

          .author {
            font-weight: bold;
          }
          .date {
            color: #bbb;
          }
          .message p {
            padding: 0;
            margin: 0;
          }
        }

        &.system {
           color: #999;

          .avatar {
            display: none;
          }

          .comment-icon {
            width: 32px;
            height: 32px;
            margin-right: 10px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #999;
            color: $color_white;
          }

          .infos {
              display: none;
          }

      }

    }
  }
}
