<template name="about">
  <div class="changelog">
    <h1>Changelog</h1>

    <h2 class="version">0.1b (01/09/2016)</h2>
    <ul class="modifs">
      <li>Release initiale</li>
    </ul>

    <h2 class="version">0.2b</h2>
    <ul class="modifs">
      <li class="debug">Suppression de la possibilité d'ajouter un message vide dans le chat</li>
      <li class="feature">Ajout de l'envoi d'un résumé de session, une fois par jour</li>
      <li class="feature">Notifications par mail</li>
    </ul>

    <h2 class="version">0.3b</h2>
    <ul class="modifs">
      <li class="improve">Renvoie seulement des données necessaires. Amélioration de la vitesse.</li>
      <li class="debug">Parfois en actualisant la page on pouvait avoir le message comme quoi on était pas abonné à la session. Cela a été corrigé.</li>
      <li class="feature">Amélioration du formulaire d'ajout de message : le markdown est supporté, le champ s'agrandit avec son contenu.</li>
    </ul>

    <h2 class="version">0.4b</h2>
    <ul class="modifs">
      <li class="improve">Affichage des joueurs en plus dans une liste d'attente</li>
      <li class="improve">Passage à la police LATO</li>
      <li class="debug">Suppression des erreurs des templates dans la console JS</li>
      <li class="debug">Envoi de l'email de nouvelle date fonctionne</li>
      <li class="feature">Confirmation lors d'une désinscription</li>
    </ul>

    <h2 class="version">0.4.1b</h2>
    <ul class="modifs">
      <li class="debug">Correction de l'heure dans le mail de mise àjour de la session</li>
      <li class="debug">Correction du scroll lorsqu'on rentre un nouveau message. Evite de renvoyer vers le haut sur iPhone.</li>
    </ul>

    <h2 class="version">0.4.2b (18/01/2017)</h2>
    <ul class="modifs">
      <li class="improve">Amélioration de la fonctionnalité de partage.</li>
      <li class="feature">Ajout d'un message sur le dashboard pour faire connaitre les notifications par mail.</li>
    </ul>

    <h2 class="version">0.4.3b (19/01/2017)</h2>
    <ul class="modifs">
      <li class="debug">Correction de la fonctionnalité de partage.</li>
      <li class="debug">Correction de l'affichage de la carte</li>
    </ul>

    <h2 class="version">0.5b (14/03/2017)</h2>
    <ul class="modifs">
      <li class="feature">Tests automatiques de l'application</li>
      <li class="feature">Deploiement automatique de l'application</li>
      <li class="improve">Les mails sont envoyés par la session (auteur du mail)</li>
      <li class="improve">Augmentation de la taille des avatar sur la page de partage de la session</li>
    </ul>

    <h2 class="version">0.6b (26/04/2017)</h2>
    <ul class="modifs">
      <li class="feature">Rôle administrateur de session</li>
      <li class="feature">Annulation de session</li>
    </ul>

  </div>
</template>
