$debug_color: $color_red_1;
$feature_color: $color_green_1;
$improve_color: $color_blue_1;

.changelog {
    padding: 0 5%;

    ul.modifs {
      padding: 0 20px;

      li::before {
        margin-right: 10px;
        width: 80px;
        display: inline-block;
      }

      li.debug::before {
          content: 'DEBUG';
          color: $debug_color;
      }

      li.feature::before {
          content: 'FEATURE';
          color: $feature_color;
      }

      li.improve::before {
          content: 'IMPROVE';
          color: $improve_color;
      }
  }
}
