<template name="sessionDate">

  <a class='session-menu-button dropdown-button btn btn-large grey lighten-5 black-text' href='#' data-constrainwidth="false" data-activates='session-menu'>
    <span class="label">Options</span>
    <i class="material-icons right">settings</i>
  </a>
  <ul id='session-menu' class='dropdown-content session-menu'>
    <li><a class="share-session" href="#!">Inviter sur {{infos.name}}</a></li>
    {{#if isManager currentUserID ../infos._id}}
      {{#if cancelled}}
        <li><a class="green darken-2 white-text reactive-session">Réactiver la prochaine session</a></li>
      {{else}}
        <li><a class="orange darken-2 white-text" href="#cancelModal">Annuler la prochaine session</a></li>
      {{/if}}
    {{/if}}
    <li class="divider"></li>
    <li><a class="red darken-2 white-text" href="#unsubscribeModal">Quitter {{infos.name}}</a></li>
  </ul>

  <div class="session-header session {{infos.sport}}">
    <div class="overlay"></div>
    {{#if cancelled}}<p class="cancel watermark">Annulé</p>{{/if}}
    <h1>{{infos.name}}</h1>

    {{#if cancelled}}
      <a class="btn-floating btn-large grey darken-1 waves-effect waves-light hide-on-large-only session-register register-cancelled"><i class="material-icons">cancel</i></a>
    {{else}}
      {{#if isRegistered currentUser}}
        <a class="btn-floating btn-large waves-effect waves-light hide-on-large-only session-register registered" data-confirm-state="false" ><i class="material-icons">close</i></a>
      {{else}}
        <a class="btn-floating btn-large green darken-1 waves-effect waves-light hide-on-large-only session-register not-registered"><i class="material-icons">add</i></a>
      {{/if}}
    {{/if}}
  </div>

  <ul class="collapsible collapsible-session" data-collapsible="expandable">
    {{> sessionDateInfos}}
    {{> sessionDatePlayers}}
    {{> sessionDateFlux}}
  </ul>

</template>
