.session-header {
    height: 25vh;
    margin: 0;

    .overlay {
      margin-top: -20px;
    }

    @-webkit-keyframes bufferIt {
      0% { -webkit-transform: matrix3d(NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN, 0, 0, 1, 0, 0, 0, 0, 1); }
      5.61% { -webkit-transform: matrix3d(1.272, -0.593, 0, 0, 0.593, 1.272, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.272, -0.593, 0, 0, 0.593, 1.272, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
      8.41% { -webkit-transform: matrix3d(1.053, -0.491, 0, 0, 0.491, 1.053, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.053, -0.491, 0, 0, 0.491, 1.053, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
      11.11% { -webkit-transform: matrix3d(0.906, -0.423, 0, 0, 0.423, 0.906, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.906, -0.423, 0, 0, 0.423, 0.906, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
      14.51% { -webkit-transform: matrix3d(1.006, -0.469, 0, 0, 0.469, 1.006, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.006, -0.469, 0, 0, 0.469, 1.006, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
      17.92% { -webkit-transform: matrix3d(1.032, -0.481, 0, 0, 0.481, 1.032, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.032, -0.481, 0, 0, 0.481, 1.032, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
      33.33% { -webkit-transform: matrix3d(0.906, -0.423, 0, 0, 0.423, 0.906, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.906, -0.423, 0, 0, 0.423, 0.906, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
      40.14% { -webkit-transform: matrix3d(0.92, -0.429, 0, 0, 0.429, 0.92, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.92, -0.429, 0, 0, 0.429, 0.92, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
      55.66% { -webkit-transform: matrix3d(0.906, -0.423, 0, 0, 0.423, 0.906, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.906, -0.423, 0, 0, 0.423, 0.906, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
      62.36% { -webkit-transform: matrix3d(0.908, -0.423, 0, 0, 0.423, 0.908, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.908, -0.423, 0, 0, 0.423, 0.908, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
      77.88% { -webkit-transform: matrix3d(0.906, -0.423, 0, 0, 0.423, 0.906, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.906, -0.423, 0, 0, 0.423, 0.906, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
      84.68% { -webkit-transform: matrix3d(0.906, -0.423, 0, 0, 0.423, 0.906, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.906, -0.423, 0, 0, 0.423, 0.906, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
      100% { -webkit-transform: matrix3d(0.906, -0.423, 0, 0, 0.423, 0.906, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.906, -0.423, 0, 0, 0.423, 0.906, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    }

    @keyframes bufferIt {
      0% { -webkit-transform: matrix3d(NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(NaN, NaN, NaN, NaN, NaN, NaN, NaN, NaN, 0, 0, 1, 0, 0, 0, 0, 1); }
      5.61% { -webkit-transform: matrix3d(1.272, -0.593, 0, 0, 0.593, 1.272, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.272, -0.593, 0, 0, 0.593, 1.272, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
      8.41% { -webkit-transform: matrix3d(1.053, -0.491, 0, 0, 0.491, 1.053, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.053, -0.491, 0, 0, 0.491, 1.053, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
      11.11% { -webkit-transform: matrix3d(0.906, -0.423, 0, 0, 0.423, 0.906, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.906, -0.423, 0, 0, 0.423, 0.906, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
      14.51% { -webkit-transform: matrix3d(1.006, -0.469, 0, 0, 0.469, 1.006, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.006, -0.469, 0, 0, 0.469, 1.006, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
      17.92% { -webkit-transform: matrix3d(1.032, -0.481, 0, 0, 0.481, 1.032, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.032, -0.481, 0, 0, 0.481, 1.032, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
      33.33% { -webkit-transform: matrix3d(0.906, -0.423, 0, 0, 0.423, 0.906, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.906, -0.423, 0, 0, 0.423, 0.906, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
      40.14% { -webkit-transform: matrix3d(0.92, -0.429, 0, 0, 0.429, 0.92, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.92, -0.429, 0, 0, 0.429, 0.92, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
      55.66% { -webkit-transform: matrix3d(0.906, -0.423, 0, 0, 0.423, 0.906, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.906, -0.423, 0, 0, 0.423, 0.906, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
      62.36% { -webkit-transform: matrix3d(0.908, -0.423, 0, 0, 0.423, 0.908, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.908, -0.423, 0, 0, 0.423, 0.908, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
      77.88% { -webkit-transform: matrix3d(0.906, -0.423, 0, 0, 0.423, 0.906, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.906, -0.423, 0, 0, 0.423, 0.906, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
      84.68% { -webkit-transform: matrix3d(0.906, -0.423, 0, 0, 0.423, 0.906, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.906, -0.423, 0, 0, 0.423, 0.906, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
      100% { -webkit-transform: matrix3d(0.906, -0.423, 0, 0, 0.423, 0.906, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.906, -0.423, 0, 0, 0.423, 0.906, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    }

    h1 {
      position: absolute;
      bottom: 0;
      padding: 0 10%;

      font-size: 4vw;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
}

.session-menu-button {
  position: absolute;
  z-index: 1002;
  top: 10px;
  right: 10px;
  opacity: 0.5;

  .label {
    display: inline-block;
    width: 0;
    transition: width 0.3s ease-out;
    overflow: hidden;
  }

  i {
    margin-left: 0;
  }

  &:hover {
    opacity: 1;
    .label {
      width: auto;
      margin-right: 15px;
    }
  }
}
ul.dropdown-content.session-menu {
  height: auto;
  z-index: 1003;

  a {
    color: $primary_bg;
  }
}

/** TODO Changer les classes utilisées par des sportiic specific **/
.collapsible {
    margin-top: 0;
    border: 0;
    box-shadow: none;
    margin-bottom: 0;
}
.collapsible-header {
    border: 0;
    padding-top: 2vh;
    padding-bottom: 2vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: box-shadow 0.3s ease-out, transform 0.3s ease-out;

    &:hover {
      color: $color_green_3;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);
    }

    &.active {
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);
      i.expand-it {
        transform: rotate(-90deg);
      }
    }
}
.collapsible-body {
    padding: 1vh 0 0 0;
    border-bottom: 0;
}
.collection .collection-item {
    border: 0;
}
.collapsible-header :nth-child(2) {
    flex-grow: 2;
}

.watermark {
  position: absolute;
  top: 0;
  left: 40%;
  left: calc(50% - 100px);
  z-index: 1;

  display: inline;
  color: #D32F2F;
  opacity: 0.9;
  font-size: 5vh;
  border: 5px solid #D32F2F;
  padding: 5px 20px;

  text-transform: uppercase;
  -webkit-animation: bufferIt 750ms linear both;
  animation: bufferIt 750ms linear both;
}

/* Infos */
@import '../../components/sessionDateInfos/sessionDateInfos.scss';

/* Players */
@import '../../components/sessionDatePlayers/sessionDatePlayers.scss';
.session-register.registered.mobile-confirm {
  width: 100%;
  border-radius: 5px;
  padding: 0 5px;
  right: 0;
}

/* Comments */
@import '../../components/sessionDateFlux/sessionDateFlux.scss';

@media only screen and (max-width : 992px) {
    .session-players-tab {
      .session-players {
        display: flex;
        flex-flow: column;
        max-height: 100%;
      }
    }
}
