<template name="menu">

	<ul id="panel">

	  {{> account}}

	  {{#if Template.subscriptionsReady}}
	  	{{> sessionDates}}
	  {{else}}
	  	Récupération des sessions...
	  {{/if}}

	  <!--<li class="session-new waves-effect waves-light">
	    <div class="overlay"></div>
	    <div class="description">
	      <p>Nouvelle session</p>
	    </div>
	  </li>-->

	</ul>

	<script>
		var slideout = "";
		$(document).ready( function() {
			slideout = new Slideout({
				'panel': document.getElementById('main'),
				'menu': document.getElementById('panel'),
				'tolerance': 70
			});
			$(".button-collapse").on("click", function(){
				$(this).toggleClass("open");
				slideout.toggle();
			});
			slideout.on('beforeclose', function() {
				$(".button-collapse").removeClass("open");
			});
			slideout.on('beforeopen', function() {
				$(".button-collapse").addClass("open");
			});
			$(".session, .session-new, #account-menu a, .brand-logo").on("click", function(){
				slideout.close();
			});
		});
	</script>
</template>
