<template name="subscribe">
  <section class="registration-wrapper">
    <div class="registration">
      <header class="session {{infos.sport}}">
        <h1 class="title">Invitation : {{infos.name}}</h1>
        <div class="overlay"></div>
      </header>
      <section class="main">
          <div class="dates">
            <span class="next"><i class="tiny material-icons">today</i> Prochaine session : <span class="data padding-left">{{displayDate date}}</span></span>
            <span class="frequency"><i class="tiny material-icons">refresh</i><span class="data">Tous les {{displayDuration infos.frequency}}</span></span>
          </div>
        <p class="description">
          <span class="data">{{infos.name}} : </span>
          {{{infos.description}}}
        </p>
        <div class="infos">
          <div class="creation">
            {{{userAvatar infos.created_by}}}
            <span class="data padding-right">{{userName infos.created_by}}</span>
            <span class="creation-date">le {{displayDate infos.creation_date}}</span>
          </div>
        </div>
        <p class="intro">Vous avez été invité à rejoindre la session <span class="data">{{infos.name}}</span>. Une fois rejoint, vous pourrez vous inscrire aux prochaines dates de la session et communiquer avec tous les autres sportifs de cette session.</p>
      </section>
      <footer>
        <button id="subscribe-cancel" class="btn btn-flat">Annuler</button>
        <button id="subscribe-confirm" class="btn">Rejoindre</button>
      </footer>
    </div>
  </section>
</template>
