.subscribe-main {
  min-height: 100%;
  background: url('/img/pattern.png');

  .main {
    padding-top: 0;
  }
}

.registration-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 5%;

  .registration {
    width: 60%;
    min-width: 500px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

    .data {
      font-weight: bold;

      &.padding-right { padding-right: 5px; }
      &.padding-left { padding-left: 5px; }
    }

    header {
      display: flex;
      align-items: flex-end;
      justify-content: flex-start;

      border-radius: 10px 10px 0 0;
      position: relative;
      height: 20vh;
      min-height: 150px;
      margin: 0;

      h1 {
        font-size: 1.5rem;
        color: #FFF;
        position: relative;
        z-index: 2;
        margin: 0 0 10px 10px;
      }

      .overlay {
        position: absolute;
        left: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&amp;0+0,0.63+100 */
        background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.63) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.63))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.63) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.63) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.63) 100%); /* IE10+ */
        background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.63) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a1000000',GradientType=0 ); /* IE6-9 */
      }
    } //header

    .main {
      background-color: #F9F9F9;
      padding-bottom: 5%;
      padding-left: 0;
      text-align: justify;

      .dates {
        display: flex;
        flex-direction: column;
        background-color: #CCC;
        margin-bottom: 0;
        padding: 2vh;

        span {
          display: flex;
          align-items: center;

          i {
            margin-right: 10px;
            font-size: 1.2em;
          }
        }
      }

      .description {
        padding: 0 5%;
      }

      .infos {
        padding: 0 5%;

        .creation {
          display: block;
          text-align: right;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          margin-top: 10px;

          .avatar {
            display: inline-block;
            height: 32px;
            width: 32px;
            margin-right: 5px;
            border-radius: 5px;
            background-position: 0 50%;
            background-size: cover;
            background-repeat: no-repeat;
          }
        }
      }

      .intro {
        padding: 0 5%;
        border-top: 1px solid #CCC;
        padding-top: 20px;
      }
    }

    footer {
      background-color: #F9F9F9;
      padding: 0 5% 5%;
      display: flex;
      justify-content: space-around;
      border-radius: 0 0 10px 10px;
    }
  } //.registration
} //.registration-wrapper


@media only screen and (max-width : 550px) {
  body {
    background: #F9F9F9;
  }
  .registration-wrapper {
     padding: 0;

    .registration {
      width: 100%;
      min-width: 100%;
      box-shadow: none;

      header {
        border-radius: 0;
      }

      section.main {
        padding-bottom: 100px;
      }

      footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        padding: 5%;

        &.shadowed {
          box-shadow: 0px -5px 10px #CCC;
        }
      }

    }
  }
}
