
<template name="unsubscribeModal">
  <div id="unsubscribeModal" class="modal">
    <div class="modal-content">
      <h4>Quitter la session</h4>
      <p>Attention, si vous quittez la session, vous ne pourrez plus y accéder.
      Vous pourrez vous y réabonner avec un lien d'invitation.</p>

      {{#if isAdminUnsubscribing}}
        Le rôle d'administrateur de la session sera donné à {{userName futurAdmin}} !
      {{/if}}
    </div>
    <div class="modal-footer">
      <a href="#!" class="unsubscribe modal-action modal-close orange waves-effect waves-orange btn">Quitter</a>
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Rester</a>
    </div>
  </div>
</template>
