
/* Infos */
.session-infos-tab {
  .description {
    padding: 10px 5% 0;
    text-align: justify;
  }

  .infos {
    padding: 0 5%;

    .creation {
      display: block;
      text-align: right;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-top: 10px;

      .avatar {
        display: inline-block;
        height: 32px;
        width: 32px;
        margin-right: 5px;
        border-radius: 5px;
        background-position: 0 50%;
        background-size: cover;
        background-repeat: no-repeat;
      }
    }
  }

  .session-infos-address {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 5%;

    i {
      margin-right: 5px;
    }
  }

  .session-location {
    margin: 2vh 0;
    min-height: 35vh;
    min-width: 100%;
  }

  .session-subscribers {
    .session-infos-subscribers {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding-bottom: 0;

      i {
        margin-right: 5px;
      }
    }

    p {
      padding: 1vh 2rem;
    }

    .subscribers-list {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding-bottom: 0;
      margin: 1rem 2rem;
      flex-wrap: wrap;

      .avatar, .remaining {
        width: 32px;
        height: 32px;
        cursor: pointer;
        opacity: 0.9;
        margin-right: 5px;
        margin-bottom: 5px;
        transition: 0.3s ease-out opacity;
      }
      .remaining {
        display: inline-block;
        border-radius: 5%;
        background-color: #CCC;
        color: #FFF;
        font-size: 1.3em;
        text-align: center;
        line-height: 32px;
        width: 5vh;
        height: 5vh;
        max-width: 32px;
        max-height: 32px;

        &:hover {
          opacity: 1;
        }
      }
    }
  }

}
