<template name="sessionDateInfos">
  <li class="session-infos-tab">
    <div class="collapsible-header">
      <i class="material-icons">info</i>
      <span class="title flow-text">{{displayDate date}}</span>
      <i class="material-icons right expand-it">chevron_left</i>
    </div>
    <div class="collapsible-body">

      <p class="description">{{{infos.description}}}</p>
      <div class="infos">
        <div class="creation">
          {{{userAvatar infos.created_by}}}
          <span class="data padding-right">{{userName infos.created_by}},</span>
          <span class="creation-date">{{displayDate infos.creation_date}}</span>
        </div>
      </div>

      <p class="session-infos-address">
        <i class="material-icons">place</i>
        <span>Adresse</span>
      </p>
      <p class="session-infos-address">
        <span>{{infos.location.address}}</span>
      </p>
      <div class="session-location" data-location-name="{{infos.location.name}}" data-location-lat="{{infos.location.lat}}" data-location-long="{{infos.location.long}}" id="sessionLocation"></div>

      <div class="session-subscribers">
        <p class="session-infos-subscribers">
          <i class="material-icons">people</i>
          Liste des abonnés
        </p>

        <div class="subscribers-list">
          {{> displaySubscribers}}
        </div>
        <div class="row">
          <div class="col s12 center-align">
            <button class="btn green show-subscribers">
              <i class="material-icons left">mail</i>
              Inviter sur {{infos.name}}
            </button>
          </div>
        </div>
      </div>

    </div>
  </li>
</template>

<template name="displaySubscribers">
  {{#each lastSubscribers}}
    {{{userAvatar userID}}}
  {{/each}}
  {{#if remainingSubscribers}}
    <span class="remaining">+{{remainingSubscribersCount}}</span>
  {{/if}}
</template>
