<template name="dashboard">
  <div class="dashboard">
    <h2>Bienvenue sur Sportiic !</h2>

    {{> mail_hint}}

    <p>
      Sportiic est une application web qui permet d'organiser des sessions de sports ponctuelles ou récurrentes. Visualiser la liste des participants, mais aussi échanger par chat... Sportiic facilite l'organisation ;)
    </p>
    <p>
      L'application est en version 0.6b, beaucoup de fonctionnalités sont encore à venir. En cas de problème et dans le but d'améliorer Sportiic, merci d'envoyer un mail à <a href="mailto:contact@sportiic.com">contact@sportiic.com</a>.
    </p>
  </div>
</template>

<template name="mail_hint">
  {{#if isMailNotificationSeen}}
    <div class="hint blue white-text">
      <div class="content">
        <div class="icon">
          <i class="material-icons">email</i>
        </div>
        <p class="message">
          Pour ne rien rater sur Sportiic, activez les mails dans vos préférences utilisateurs.
        </p>
      </div>
      <div class="footer blue darken-2">
        <a id="activate_mails" href="/profile/me" class="yes"><i class="material-icons">check</i>Activer les mails</a>
        <a id="cancel_mails" href="#" class="no"><i class="material-icons">clear</i>Non merci</a>
      </div>
    </div>
  {{/if}}
</template>
