.dashboard {
  padding: 65px 20px 20px;

  h2 { font-size: 2em; }
  p { text-align: justify; }
  a { color: #4db34d; }

  .hint {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    margin: 10px 0;
    //@extend .blue;
    //@extend .white-text
    .content {
      display: flex;
      align-items: center;
      padding: 5px 10px;

      .icon {
        padding: 0 20px 0 10px;

        img {
          height: 5vh;
          border-radius: 5px;
        }
      }
    }

    .footer {
      //@extend .blue .darken-2;
      display: flex;
      justify-content: space-between;
      border-radius: 0 0 5px 5px;

      a {
        padding: 10px;
        color: #FFF !important;
        display: flex;
        align-items: center;
        height: 100%;
        width: 50%;
        transition: background-color ease-out 0.3s;

        &.yes { border-radius: 0 0 0 5px; }
        &.no { border-radius: 0 0 5px 0; }

        &:hover {
          background-color: #0d47a1;
        }

        i {
          margin-right: 5px;
        }
      }
    }
  }

}
