<template name="bartop">
  <div class="navbar-fixed bartop">
    <nav>
      <div class="nav-wrapper">
        <div class="button-collapse">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </nav>
  </div>
</template>
