$bartop_bg: transparent;
$bartop_scrolled_bg: $color_green_3;

header {
  nav {
    height: 60px;
    padding: 0 5%;
    background-color: $bartop_bg;
    box-shadow: none;
    transition: background-color 0.3s ease-out;
  }

  &.colored nav {
    background-color: $bartop_scrolled_bg;
  }
}

.bartop {

  .button-collapse {
    width: 30px;
    height: 30px;
    position: relative;
    margin: 15px auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }

  .button-collapse span {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: #FFF;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }

  /* Icon 3 */

  .button-collapse span:nth-child(1) {
    top: 0px;
  }

  .button-collapse span:nth-child(2),.button-collapse span:nth-child(3) {
    top: 10px;
  }

  .button-collapse span:nth-child(4) {
    top: 20px;
  }

  .button-collapse.open span:nth-child(1) {
    top: 10px;
    width: 0%;
    left: 50%;
  }

  .button-collapse.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .button-collapse.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  .button-collapse.open span:nth-child(4) {
    top: 10px;
    width: 0%;
    left: 50%;
  }

}
