// Colors variables
$color_white: hsla(255, 100%, 100%, 1);
$color_black: hsla(0, 0%, 20%, 1);

$color_green_1: hsla(80, 60%, 60%, 1);
$color_green_2: hsla(80, 40%, 40%, 1);
$color_green_3: hsla(120, 40%, 50%, 1);
$color_green_4: hsla(150, 30%, 30%, 1);

$color_red_1: hsla(5, 60%, 50%, 1);
$color_red_2: hsla(5, 80%, 70%, 1);

$color_yellow: hsla(48, 89%, 50%, 1);
$color_yellow_1: hsla(50, 80%, 70%, 0.2);
$color_yellow_2: hsla(30, 80%, 70%, 0.2);
$color_yellow_3: hsla(10, 80%, 70%, 0.2);

$color_blue_1: hsla(207, 90%, 54%, 1);

// Elements colors
$primary_bg: $color_green_3;
$primary_fg: $color_white;

$color_error: $color_red_1;
$color_new: $color_red_1;

$text-color: $color_black;
$text_color: $color_black;
