<template name="layout">

    {{#unless currentUser}}
      {{> login}}
    {{else}}
      <main>
          
        <div class="disclaimer" style="padding: 5px;background-color: #D32F2F;z-index: 0;color: #fff;text-align: center;">
            Sportiic cessera de fonctionner le 01/06/2019. Merci à tous.
        </div>
          
        {{> menu}}

        <section id="main" class="main">

          <header class="colored">
            {{> bartop}}
          </header>

        	{{> yield}}
        </section>
      </main>

      <footer></footer>
    {{/unless}}

</template>

<template name="layoutHeaderTransparent">

    {{#unless currentUser}}
      {{> login}}
    {{else}}
      <main>
          
        <div class="disclaimer" style="padding: 5px;background-color: #D32F2F;z-index: 0;color: #fff;text-align: center;">
            Sportiic cessera de fonctionner le 01/06/2019. Merci à tous.
        </div>
        
        {{> menu}}

        <section id="main" class="main">

          <header>
            {{> bartop}}
          </header>

        	{{> yield}}
        </section>
      </main>

      <footer></footer>
      {{> unsubscribeModal}}
      {{> cancelModal}}
    {{/unless}}

</template>
