// All default imports for layout
@import "./colors.scss";
@import "./overrides.scss";

@import "../../components/account/account.scss";
@import "../../components/bartop/bartop.scss";
@import "../../components/login/login.scss";
@import "../../components/menu/menu.scss";
@import "./modal.scss";

@import url('https://fonts.googleapis.com/css?family=Lato');

$nav-bg-color: $primary_bg;
$nav-fg-color: $primary_fg;

html, body {
  font-family: 'Lato', 'Roboto', sans-serif;
  min-height: 100%;
  height: 100%;
  width: 100%;
}

header {
  position: fixed;
  z-index: 1001;
}

main {
  height: 100%;

  .main {
    padding: 0 0 10px;
    min-height: 100%;
    background-color: #FFF;
  }
}

.avatar {
  border-radius: 5%;
  height: 64px;
  width: 64px;
  height: 8vw;
  width: 8vw;
  max-width: 64px;
  max-height: 64px;

  &.imaged {
    background-position: 0 50%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  &.colored {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
  }
}
@media screen and (max-width: 640px){
  .avatar {
      width: 64px;
      height: 64px;
      width: 8vmax;
      height: 8vmax;
  }
}

.padding-right {
  padding-right: 5px;
}

@media only screen and (max-width : 992px) {
  header, .main, footer {
    padding-left: 0;
  }
  main .main {
    box-shadow: rgb(25, 25, 25) 0px 0px 100px 5px;
  }
  .button-collapse {
    display: inline;
  }
}
