/* label color */
 .input-field label {
   color: $text_color;
 }
 /* label focus color */
 .input-field input[type=text]:focus + label {
   color: $primary_bg;
 }
 /* label underline focus color */
 .input-field input[type=text]:focus {
   border-bottom: 1px solid $primary_bg;
   box-shadow: 0 1px 0 0 $primary_bg;
 }
 /* valid color */
 .input-field input[type=text].valid {
   border-bottom: 1px solid $primary_bg;
   box-shadow: 0 1px 0 0 $primary_bg;
 }
 /* invalid color */
 .input-field input[type=text].invalid {
   border-bottom: 1px solid $color_error;
   box-shadow: 0 1px 0 0 $color_error;
 }
 /* icon prefix focus color */
 .input-field .prefix.active {
   color: $primary_bg;
 }

/* Bert */
.bert-alert {
    z-index: 99999;
}
