<template name="login">

  <div class="login-page">
    <div class="app-logo"></div>
    <h1>Sportiic</h1>
    <div class="general-wrapper">

      <section class="login-wrapper">
        <div id="login-page" class="row login-page">
          <div class="col s12 m6 offset-m3 z-depth-6 card-panel">
          {{> loginButtons}}
          </div>
        </div>
      </section>

    </div>
  </div>

</template>
