
.login-page {
  margin-top: 5vh;

  h1 {
    color: $color_green_4;
    text-align: center;
  }

  .app-logo {
    height: 96px;
    width: 96px;
    border-radius: 50%;
    background-color: #FFF;
    background-image: url('/logo/sportiic-icon-96x96.png');
    background-size: cover;
    margin: 0 auto;
  }

}

.general-wrapper {
  display: flex;
  align-items: stretch;
  justify-content: center;

  section.login-wrapper {
    background-color: #FFF;
    /*border: 1px solid #CCC;*/
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 5px;

    .login-page .card-panel {
      float: none;
      margin-left: 5px;
      clear: both;
      box-shadow: none;

      #login-dropdown-list {
        position: relative;
        top: -50px;
      }

      .accounts-dialog {
        border: 0;
        box-shadow: none;
      }

      #login-buttons .login-button,
      .accounts-dialog .login-button {
        border: 0;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
          opacity: 0.8;
        }
      }
      #login-buttons-facebook { background-color: #3b5998; }
      #login-buttons-google { background-color: #d34836; }

      #login-buttons .login-image {
        height: 40px;
        width: 40px;
        top: 5px;
      }
      #login-buttons-image-facebook {
        background-image: url('http://www.fim.fr/sites/all/themes/groupefim/images/pictos/partage/facebook.png');
      }
      #login-buttons-image-google {
        background-image: url('http://galeria.o2switch.net/images/stories/icones_social/G+logo_40.png');
      }

      .login-link-text, .login-close-text {
        //display: none;
      }
      .forgot-password-link {
        box-shadow: none;
      }
    }

    input {
      height: 50px !important;
    }
  }
}
