.share-page {

  padding: 60px 1vh 1vh;

  .intro p {
    text-align: justify;
  }

  .close-subscribers-list {
    color: #FFF;
    position: fixed;
    top: 10px;
    right: 5px;
    z-index: 991;
  }

  .invitation-types {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;

    .invite {
      background-color: #9e9e9e;
      margin: 0 10px;
      .active {
        display: none;
      }

      &:hover {
         background-color: $primary_bg;
      }

      &.active {
        background-color: $primary_bg;
        .active { display: initial; }
        .link { display: none; }
      }
    }
  }

  .invitation-mail {
    display: none;
  }

  .subscribers-list {
    margin: 0 1vw;

    .subscriber {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      padding: 0 10px;
      border-radius: 5px;
      transition: background-color 0.3s ease-out;
      min-height: 68px;
      margin-bottom: 0.5vh;

      .avatar {
        border-radius: 5px;
      }

      p {
        flex-grow: 2;
        padding: 0 10px;
        margin: 1vh 0;

        span {
          display: block;
          color: #888;

          &.title {
            text-transform: capitalize;
            font-weight: bold;
            color: #333;
          }

          &.subscribe-date {
            font-size: 2vw;
            text-transform: lowercase;
          }
        }
      }

      .user-role.select {
        width: auto;

        &[disabled] {
          border: 0;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
        }
      }

    }
  }

  .animate {
    animation-duration: 1s;
    animation-fill-mode: both;
  }
  .first {
    animation-name: fadeIn;
    animation-delay: 0.3s;
  }
  .second {
    animation-name: fadeInUp;
    animation-delay: 0.6s;
  }
  .third {
    animation-name: fadeInUp;
    animation-delay: 0.9s;
  }

  .subscribers-list .subscriber {
    @for $i from 1 through 19 {
      &:nth-child(20n+#{$i}) {
        animation-name: fadeInUp;
        animation-delay: 0.9s + 0.1s * $i;
      }
    }
  }

}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
