<template name="share">

  <div class="share-page">
    <button class="waves-effect waves-teal btn-flat btn-floating close-subscribers-list">
      <i class="material-icons left">close</i>
    </button>

    <div class="animate first intro">
      <h4>Inviter sur {{infos.name}}</h4>
      <p>Le sport c'est mieux à plusieurs ! <br />
        Vous pouvez inviter des personnes à rejoindre votre session. Une fois abonnées, elles pourront s'inscrire pour les prochaines dates mais aussi participer aux discussions.
        Un lien d'invitation doit être envoyé aux personnes concernées pour qu'elles s'abonnent.
        Vous pouvez les inviter :</p>
    </div>

    <div class="invitation-types animate second">
      <button class="btn invite mail">
        <i class="material-icons left">mail</i>
        Par mail
      </button>

      <button class="btn invite link" data-clipboard-text="https://app.sportiic.com/subscribe/{{infos.token}}">
        <i class="material-icons left link">link</i>
        <i class="material-icons left active">check</i>
        <span class='button-text'>Par lien</span>
      </button>
    </div>

    <div class="invitation-mail">
      <div class="row">
        <div class="input-field col s12">
          <input type="text" class="validate" name="invitation-mails" id="invitation-mails">
          <label>Emails (séparés par une virgule)</label>
        </div>
        <div class="col s12 right-align">
          <button class="btn green" id="send-invitation-mails">
            <i class="material-icons left">send</i>
            Envoyer
          </button>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        <h4 class="animate third">Liste des abonnés</h4>
        <ul id="subscribers-list" class="subscribers-list">
            {{#each reverse}}
            <li class="subscriber animate" data-user-id="{{userID}}" data-session-id="{{../infos._id}}">
              {{{userAvatar userID}}}
              <p>
                <span class="title">{{userName userID}}</span>
                <span class="subscribe-date">Abonné depuis {{displayDate date}}</span>
              </p>

              <select class="select user-role browser-default" disabled="{{#unless isAdmin currentUserID ../infos._id}}disabled{{/unless}}">
                {{#if isAdmin userID ../infos._id}}
                  <option value="admin" >Admin</option>
                {{else}}
                  <option value="captain" {{isCaptain userID ../infos._id}}>Capitaine</option>
                  <option value="player" {{isPlayer userID ../infos._id}}>Joueur</option>
                {{/if}}
              </select>
            </li>
            {{/each}}
        </ul>
      </div>
    </div>

  </div>
</template>
