<template name="sessionDatePlayers">
  <li class="session-players-tab">
    <div class="collapsible-header players-header" style="position:relative">
      <i class="material-icons">person</i>
      <div class="title player-infos">
        <span class="flow-text">
          Participants
          <span class="counter">
            {{#if waitingList}}
              {{numberOnPlayingList players}}
            {{else}}
              {{players.length}}
            {{/if}}

            {{#if infos.playerLimit}}/{{infos.playerLimit}}{{/if}}</span>
        </span>
        {{#if waitingList}}
          <span class="">{{numberOnWaitingList}} sur liste d'attente</span>
        {{/if}}
      </div>
      {{#if cancelled}}
        <button class="btn btn-primary grey darken-1 hide-on-med-and-down register-cancelled">Annulé</button>
      {{else}}
        {{#if isRegistered currentUser}}
          <button class="btn btn-primary hide-on-med-and-down session-register registered" data-confirm-state="false" >Se desinscrire</button>
        {{else}}
          <button class="btn btn-primary green darken-1 hide-on-med-and-down session-register not-registered">S'inscrire</button>
        {{/if}}
      {{/if}}
      <i class="material-icons right expand-it">chevron_left</i>

      <div class="session-progress-wrapper">
        <div class="session-progress" data-progress-level="{{sessionProgressLevel}}" style="width:{{sessionProgress}}%"></div>
      </div>
    </div>
    <div class="collapsible-body">
      <ul class="collection session-players">
        {{#if players.length}}
          {{#each playersToLimit players}}
              {{> player}}
          {{/each}}
          {{#each playersOverLimit players}}
              {{> waitingPlayer}}
          {{/each}}
        {{else}}
          <li class="no-data">
            {{#if cancelled}}
              <i class="material-icons">cancel</i>
              <span>La session a été annulée. Vous ne pouvez pas vous inscrire.</span>
            {{else}}
              <i class="material-icons">perm_identity</i>
              <span>Aucun inscrit... Soyez le premier !</span>
            {{/if}}
          </li>
        {{/if}}
      </ul>
    </div>
  </li>

</template>

<template name="player">
  <li class="collection-item player" data-player-id="{{userID}}">
    <div class="avatar">
      {{{userAvatar userID}}}
    </div>
    <p class="title">
      {{userName userID}}
      <span class="date">Inscription : {{displayDate date}}</span>
    </p>

    <a href="#!" class="secondary-content"><i class="material-icons">check</i></a>
  </li>
</template>

<template name="waitingPlayer">
  <li class="collection-item player" data-player-id="{{userID}}">
    <div class="avatar">
      {{{userAvatar userID}}}
    </div>
    <p class="title">
      {{userName userID}}
      <span class="date">Inscription : {{displayDate date}}</span>
    </p>

    <a href="#!" class="secondary-content orange-text"><i class="material-icons">history</i></a>
  </li>
</template>
