$progress-low: $color_yellow_3;
$progress-medium: $color_yellow_2;
$progress-high: $color_yellow_1;
$progress-complete: $color_green_1;

$register-button-color: $color_green_4;
$unregister-button-color: $color_red_1;

.session-register {
    z-index: 5;
    background-color: $register-button-color;

    &.btn-floating {
      position: absolute;
      bottom: -13px;
      right: 25px;
    }

    &.registered {
      background-color: $unregister-button-color;
    }
}
.session-players-tab {
  .session-progress-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;

    .session-progress {
      width: 0%;
      height: 100%;
      will-change: width, transform;
      transition: width 0.3s ease-out, transform 1s ease-out 0.5s;
      transform: scaleX(0);
      transform-origin: left;

      &.progress-low { background-color: $progress-low; transform: scaleX(1); }
      &.progress-medium { background-color: $progress-medium; transform: scaleX(1); }
      &.progress-high { background-color: $progress-high; transform: scaleX(1); }
      &.progress-complete { background-color: $progress-complete; transform: scaleX(1); }
    }
  }

  .players-header {
    background: transparent;

    .title.player-infos {
        display: flex;
        flex-direction: column;
        line-height: 1.5em;
    }
  }

  .session-players {

    display: flex;
    flex-flow: column wrap;
    max-height: 40vh;

    .player {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px 5%;

        .avatar {
            width: 32px;
            height: 32px;
            margin-right: 10px;
        }
        .title {
            flex-grow: 2;
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: column;
        }
        .date {
            padding: 0;
            color: #AAA;
            font-size: 0.9em;
        }
    }

    .no-data {
      padding: 1vh 0;
      i, span {
        display: block;
        text-align: center;
        font-size: 15vw;
        color: #AAA;
      }
      span {
        font-size: 1em;
      }
    }
  }
}
