<template name="account">
  <li class="account-wrapper dropdown-button" data-beloworigin="true" href='#' data-activates='account-menu'>
    {{#if Template.subscriptionsReady}}
      <div class="account">
          {{{userAvatar currentUser._id}}}
          <div class="infos">
            <span>{{userName currentUser._id}}</span>
            <span>{{userMail currentUser._id}}</span>
          </div>
          <div class="chevron">
            <i class="material-icons right">chevron_left</i>
          </div>
      </div>
    {{/if}}
  </li>
  <ul id='account-menu' class='dropdown-content'>
    <li class="menu-link">
      <a class="waves-effect" id="account-update">Préférences</a>
    </li>
    <li class="menu-link">
      <a id="logout" class="waves-effect orange lighten-1 white-text waves-red" href="#!">Déconnexion</a>
    </li>
  </ul>

</template>
