$avatar_border_color: $primary_fg;

.account {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 5%;
    box-sizing: border-box;
    overflow: hidden;

    .avatar {
      min-height: 64px;
      min-width: 64px;
      border: 1px solid #FFF;
    }
    .infos {
      margin-left: 5%;
      font-weight: bold;
      flex-grow: 2;

      span {
        display: block;

        &:last-child {
          font-weight: normal;
        }
      }
    }
  }

  ul.dropdown-content {
    height: 100%;
    max-height: 100%;
    box-shadow: none;

    li.menu-link a {
      display: flex;
      align-items: center;
      height: 70px;
    }
  }
