<template name="profile">

  <ul class="collapsible collapsible-profil" data-collapsible="expandable">
    <li class="profile-tab">
      <div class="collapsible-header active">
        <i class="material-icons">info</i>
        <span class="title flow-text">Profil </span>
        <i class="material-icons right">chevron_left</i>
      </div>
      <div class="collapsible-body">

        <div class="row">
          <div class="input-field col s3">
            {{{userAvatar currentUser._id}}}
          </div>
          <div class="input-field col s9">
            <div class="row">
              <div class="input-field col s12">
                <input value="{{userName currentUser._id}}" id="first_name" type="text" class="validate">
                <label for="first_name">Nom</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input value="{{userMail currentUser._id}}" id="mail" type="text" class="validate">
                <label for="first_name">Email</label>
              </div>
            </div>
            <!--<div class="row">
              <div class="input-field col s6">
                <input value="" id="oldPassword" type="password" class="validate">
                <label for="oldPassword">Ancien mot de passe</label>
              </div>
              <div class="input-field col s6">
                <input value="" id="password" type="password" class="validate">
                <label for="password">Nouveau mot de passe</label>
              </div>
            </div>-->
          </div>
        </div>
      </div>
    </li>

    <li class="notification-tab">
      <div class="collapsible-header">
        <i class="material-icons">notifications_active</i>
        <span class="title flow-text">Notifications</span>
        <i class="material-icons right">chevron_left</i>
      </div>
      <div class="collapsible-body">
        <p>Recevoir une notification par mail pour</p>
        <p>
          <input type="checkbox" class="notification-control" data-notification="sessionUpdate" id="session-notification" checked={{isSessionUpdateChecked}} />
          <label for="session-notification">Modification de la session (nouvelle date, session imminente, annulation, changement d'horaires,...)</label>
        </p>
        <p>
          <input type="checkbox" class="notification-control" data-notification="playerAdd" id="register-notification" checked={{isPlayerAddChecked}} />
          <label for="register-notification">Inscription d'un joueur</label>
        </p>
        <p>
          <input type="checkbox" class="notification-control" data-notification="playerRemove" id="unregister-notification" checked={{isPlayerRemoveChecked}} />
          <label for="unregister-notification">Désinscription d'un joueur</label>
        </p>
        <p>
          <input type="checkbox" class="notification-control" data-notification="messageAdd" id="message-notification" checked={{isMessageAddChecked}} />
          <label for="message-notification">Nouveaux messages</label>
        </p>
      </div>
    </li>
  </ul>


</template>
