.session-list {
  .watermark {
    font-size: 3vh;
    border-width: 3px;
    left: 28%;
  }
}

.session {
    opacity: 1;
    position: relative;
    display: list-item;
    height: 100px;
    color: #FFF;
    margin: 2px;
    padding: 0;
    background-position: 0 50%;
    background-size: cover;
    background-repeat: no-repeat;

    &:hover {
      opacity: 0.9;
    }

    &.soccer { background-image: url('/img/soccer-bg.jpg'); }
    &.basketball { background-image: url('/img/basketball-bg.jpg'); }
    &.volleyball { background-image: url('/img/volleyball-bg.jpg'); }
    &.tennis { background-image: url('/img/tennis-bg.jpg'); }
    &.walking { background-image: url('/img/walking-bg.jpg'); }
    &.climbing { background-image: url('/img/climbing-bg.jpg'); }
    &.new { background-image: url('/img/multisports-bg.png');}

    .overlay {
      height: 100%;
      background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.63) 100%);
    }

    div.description {
      position: absolute;
      bottom: 10px;
      padding: 0 10px;
      font-size: 0.9rem;

      span {
        margin-right: 5px;
        &.title {
          display:block;
          font-size: 1.2rem;
        }
        i {
          vertical-align: middle;
        }
      }
    }

    .next-date {
      position: absolute;
      right: 10px;
      bottom: 10px;
      i {
        vertical-align: middle;
      }
    }
  }


  .session-new {
      opacity: 1;
      position: relative;
      display: list-item;
      height: 100px;
      color: #FFF;
      margin: 2px;
      padding: 0;
      background-image: url('/img/multisports-bg.png');
      background-position: 0 50%;
      background-size: cover;
      background-repeat: no-repeat;

      &:hover {
        opacity: 0.9;
      }

      .overlay {
        height: 100%;
        background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.63) 100%); /* W3C */
      }

      div.description {
        position: absolute;
        bottom: 0;
        font-size: 1.2em;
        margin: 0;
        padding: 0 10px;
      }

      .next-date {
        position: absolute;
        right: 10px;
        bottom: 10px;
        i {
          vertical-align: middle;
        }
      }
    }
