<template name="sessionDates">
    <div id="session-list" class="session-list">
      {{#each sessionDates}}
        <li class="session {{#unless date}} disabled{{/unless}} {{infos.sport}} waves-effect waves-light" data-session-date-id="{{_id}}" data-session-sport-type="{{infos.sport_id}}">
          <div class="overlay"></div>
          {{#if cancelled}}
          <p class="cancel watermark">Annulé</p>
          {{/if}}
          <div class="description">
            <span class="title">{{infos.name}}</span>
            <span class="players">{{players.length}}{{#if playersLimit}}/{{playersLimit}}{{/if}} <i class="tiny material-icons">person</i></span>
            <span class="messages">{{comments.length}} <i class="tiny material-icons">comment</i></span>
          </div>
          {{#if date}}
            <div class="next-date"><i class="tiny material-icons">today</i> {{livestamp date}}</div>
          {{else}}
            <div class="next-date">Aucune session programm&eacute;e</div>
          {{/if}}
        </li>
      {{/each}}
    </div>
</template>
